@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;1,6..12,300&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box !important;
  /* cursor:
  url(/assests/Vector-1.png) 1 12,
  pointer; */
};

body{
  font: 18px/1.5 Poppins, sans-serif;
  color: var(--primary-color);
  text-rendering: optimizeLegibility;
}

:root {
  --primary-color: #222;
  --secondary-color: #fff;
  --highlight-color: #596aca;
  --link-color: #03a9f5;
  --font-16px: 16px;
  --font-14px: 14px;
  --font-400: 400;
  --font-700: 600;
}
.list-of-scrolling-title{
  margin: 10%;
}
.list-of-scrolling-title h1{
  font-size: 50px;
  line-height: 75px;
  font-weight: 400;
}
.list-of-scrolling-title p{
  font-size: 20px;
  margin: 1.5rem auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.scroll-text-header-grd{
  background: linear-gradient(72deg, #008bedcc 0.25%, #6755e7c4 6.25%, #7544bee6 10.25%, #b3008bde 9.25%, #ff0066d9 18.25%, #ff3900e8 32.25%, #ff4e00e0 50.25%, #ff6d00de 50.25%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

:where(.gk-bubble-grid,.bubble-container){
  display: flex;
  justify-content: center;
}
:where(.gk-bubble){
  display: flex;
  justify-content: center;
  align-items: center;
}
:where(.scroll-frame1,.scroll-frame2){
  display: flex ;
  justify-content: space-between;
  align-items: start;
  /* height: 100vh; */
  padding: 100px;
}

.scroll-banner{
  position: sticky;
  top: 100px;
}

.gk-frames-list{
  max-width: 80%;
  /* padding: 0 4%; */

}
.scroll-frame1-img{
  height: 500px;
  width: 720px;
  /* position: absolute;
  top: 0; */
  overflow: hidden;
  background: #f3f4f4;
  z-index: 1;
  border-radius: 20px;
}


:where(.header-container) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:where(.banner-content,.gk-bubble-header) {
  display: flex;
  align-items:center;
  justify-content: start;
  flex-direction: column;
}

:where(.header-list ul, li) {
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  color: #000;
  font-size: var(--font-16px);
}

.mx-2{
  margin: 0 10px;
}

.header-container {
  position: sticky;
  top: 0px;
  backdrop-filter: blur(2px);
  padding: 14px;
  font-size: var(--font-16px);
  margin:0 5%;
  z-index:10000;
}

.logo-container h1 {
  font-size: 26px;
  color: black;
  font-weight: 400;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.header-list ul li {
  margin: 0 16px;
}

.signup-btn {
  /* background:linear-gradient(to left ,#AA3FA9, #AA3FA9); */
  /* background : linear-gradient(white,white) padding-box, linear-gradient(115deg, #887bd9 3.27% , #eb4999 48.99%) border-box ; */
  background: linear-gradient(89.95deg, rgb(110 85 234 / 80%) -29.76%, rgb(0 138 239 / 80%) -21.14%, rgb(130 68 192 / 80%) 14.56%, rgb(207 0 141 / 80%) 41.21%, rgb(255 2 104 / 80%) 65.11%, rgb(255 58 0 / 80%) 103.26%, rgb(255 78 0 / 80%) 114.1%, rgb(255 109 0 / 90%) 150.35%);
  /* background: linear-gradient(#161618, #161618) padding-box, linear-gradient(115deg, #887bd9 3.27%, #eb4999 48.88%, #ff6059 97.44%) border-box; */
  padding: 8px 24px;
  border-radius: 50px;
  color: var(--primary-color);
  border: transparent;
  font-size: var(--font-16px);
}

.dropdown-arrows::after{
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -20px;
  margin: auto;
}

.dropdown-arrows{
  position: relative;
  top: -8px;
  right: 5px;
  color: #000;
}

.headerSolution{
  text-decoration: none;
  padding: 8px;
}

.headerSolution .solution-list {
  display: none;
  flex-direction: column;
  border-radius: 6px;
  position: absolute;
  width: 200px;
  padding: 8px;
}
.header-list li:hover{
cursor: pointer;
}
.header-list-li:hover {
  color: var(--highlight-color);
}
.headerSolution:hover  .solution-list{
  display: flex;
  transition-delay: 200ms;
  padding: 4px;
  box-shadow: 0 11px 90px 0 rgba(65,67,132,0.13);
}

.headerSolution .solution-list li {
  display: flex;
  gap: 10px;
  height: 33px;
  justify-content: start;
  padding: 6px 8px 6px 8px;
  width: 180px;
  margin: 4px;
  border-radius: 4px;
}

.headerSolution .solution-list:hover{
  display: flex;
}

.headerSolution .solution-list li:hover {
  background-color: #03a8f512;
}

.solution-list:hover{
  display: flex;
  background: #FFF;
}

.banner-content{
  height: 100vh;
}

.banner-title{
  font-weight: var(--font-400);
  font-size: 64px;
  margin: 90px 21% 40px 21% ;
  text-align: center;
  line-height: 96px;
  font-family: 'Poppins', sans-serif;
  /* border:1px solid black */
}

.create-gradient{
  background: linear-gradient(115deg , #ff8036 3.5%, #ff3f7a 48.88%,#aa3fa9 97.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: var(--font-400);
}

.gk-wb-text-gradient{
  background: linear-gradient(80deg,#008bedcc -0.13% ,#6755e7c4 14.16% , #7544bee6 25.41% ,#b3008bde 38.18% ,#ff3900e8 52.19% ,#ff4e00e0  67.64% ,#ff6d00de 98.09%  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 64px;
  overflow:visible;
  /* border:1px solid black; */
}

.onwarp{
  flex-wrap: nowrap;
  box-sizing: border-box;
}

.gk-wb-pos-relative{
  position: relative !important;
}
.together-people{

}

.bnr-abs-text::after{
  background-image: url(/assests/add_users.png);
  background-size: 100%;
  height: 42px;
  width: 42px;
  content: "";
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  left: -5px;
  opacity: 0;
  animation-name: add-user;
animation-duration: 8s;
animation-timing-function: ease;
animation-delay: 1s;
animation-iteration-count: infinite;
animation-direction: normal;
animation-fill-mode: none;
animation-play-state: running;

}

.bnr-abs-text::before{
  background-color: #c73c72;
  height: 65px;
  width: 65px;
  content: "";
  position: absolute;
  top: 54%;
  transform: scale(0) translateY(-50%);
  transition: 0.1s ease-in-out;
  transform-origin: top;
  left: -8px;
  border-radius: 50px;
  z-index: 1;
  opacity: 0;
  animation:  click-anim 8s 0.5s infinite;
  /* animation-name: click-anim; */
/* animation-duration: 8s;
animation-timing-function: ease;
animation-delay: 1s;
animation-iteration-count: infinite;
animation-direction: normal;
animation-fill-mode: none;
animation-play-state: running; */
}

.web-description{
  width: 50%;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}

.o-img-container{
  text-align: left;
}
.gk-star-img{
  position: relative;
  left: -100px;
  width: 40px;
  height: 40px;
  animation:  blink-star 3s  infinite;
}

.gk-star-img1{
  position: relative;
  right: -80px;
  width: 40px;
  height: 40px;
  animation:  blink-star 3s  infinite;
}

.bnr-abs-text{
position: relative;
left: -15px;
z-index: 10000;
background: linear-gradient(115deg, #ff8036 3.27%, #ff3f7a 48.88%, #aa3fa9 97.44%);
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
animation:bnr-abs-text 8s 1s infinite;
}


.user-cursor{
  width: 38px;
  position: absolute;
  left: 30px;
  bottom: -30px;
  width: 20px;
  opacity: 0;
  z-index: 100000;
  transform: translate(-5px, 5px);
  animation: user-cursor 8s 1s infinite;
}

.user-img {
  position: absolute;
  height: 42px;
  width: 42px;
  top: 54%;
  transform: translateY(-50%);
  z-index: -1;
  opacity: 0;
}

.user-img01{
  animation: user-img-01 8s 1s infinite;
  left: 0;
  transform: translateY(-50%) scale(0);
}
.user-img02{
  animation: user-img-02 8s 1s infinite;
  left: 0;
  transform: translateY(-50%) scale(0);
}
.user-img03{
  animation: user-img-03 8s 1s infinite;
  left: 0;
  z-index: -11;
  transform: translateY(-50%) scale(0);
}

@keyframes user-img-01 {
  0%{
    opacity: 0;
    /* transform: translateY(-50%) scale(0) translateX(-20px); */
  }
  22%{
    opacity: 0;
  }
  28%{
    opacity: 0;
    /* transform: translateY(-50%) scale(1) translateX(-20px); */
    /* transform: translateY(-50%)  translateX(-40%); */
  }
  40%{
    /* opacity: 1;
    transform: translateY(-50%) translateX(-30px); */
  }
  48%{
    /* opacity: 1;
    transform: translateY(-50%) translateX(-30px); */
  }
  50%{
    /* opacity: 1;
    transform: translateY(-50%) translateX(-30px); */
  }
  54%{
    opacity: 1;
    transform: translateY(-50%) translateX(-10px);
  }
  72%{
    opacity: 1;
    transform: translateY(-50%) translateX(20px);
  }
  80%{
    opacity: 0;
    transform: translateY(-50%) translateX(30px);
  }
  96%{
    opacity: 0;
    transform: translateY(-50%) translateX(50px);
  }
  100%{
    opacity: 0;
    /* transform: translateY(-50%) translateX(60px); */
  }

  
}
@keyframes user-img-02 {
  0%{
    opacity: 0;
    transform: translateY(-50%) scale(0) translateX(-10px);
  }
  22%{
    opacity: 0;
  }
  28%{
    opacity: 1;
    transform: translateY(-50%) scale(1) translateX(-10px);
    /* transform: translateY(-50%)  translateX(-40%); */
  }
  40%{
    opacity: 1;
    transform: translateY(-50%) translateX(-10px);
  }
  48%{
    opacity: 1;
    transform: translateY(-50%) translateX(20px);
  }
  50%{
    opacity: 1;
    transform: translateY(-50%) translateX(20px);
  }
  54%{
    opacity: 1;
    transform: translateY(-50%) translateX(20px);
  }
  72%{
    opacity: 1;
    transform: translateY(-50%) translateX(40px);
  }
  80%{
    opacity: 0;
    transform: translateY(-50%) translateX(50px);
  }
  96%{
    opacity: 0;
    transform: translateY(-50%) translateX(50px);

  }
  100%{
    opacity: 0;
    /* transform: translateY(-50%) translateX(60px); */
  }

  
}

@keyframes user-img-03 {
  0%{
    opacity: 0;
    /* transform: translateY(-50%) scale(0) translateX(-20px); */
  }
  22%{
    opacity: 0;
  }
  28%{
    opacity: 0;
    /* transform: translateY(-50%) scale(1) translateX(-20px); */
    /* transform: translateY(-50%)  translateX(-40%); */
  }
  40%{
    /* opacity: 1;
    transform: translateY(-50%) translateX(-30px); */
  }
  48%{
    /* opacity: 1;
    transform: translateY(-50%) translateX(-30px); */
  }
  50%{
    /* opacity: 1;
    transform: translateY(-50%) translateX(-30px); */
  }
  54%{
    /* opacity: 1;
    transform: translateY(-50%) translateX(-10px); */
    opacity: 0;
  }
  72%{
    opacity: 1;
    transform: translateY(-50%) translateX(-10px);
  }
  80%{
    opacity: 0;
    transform: translateY(-50%) translateX(-10px);
  }
  96%{
     opacity: 0;
    /* transform: translateY(-50%) translateX(50px); */
  }
  100%{
    opacity: 0;
    /* transform: translateY(-50%) translateX(60px); */
  }

  
}

@keyframes blink-star {
  0% {scale:0;}
  50% {scale:1;}
  100% {scale:0;}
}

@keyframes click-anim {
  0%{
    opacity: 0;
  }
  16%{
       opacity: 0.2;
       transform: scale(0);
  }
  22%{
    opacity: 0.3;
    transform: scale(6);
    transform: translate(-12% ,-50%);
  }
  24%{
    opacity: 0;
    transform: scale(0);
    transform: translate(-12% ,-50%);
  }
  40%{
    opacity: 0;
    transform: scale(6);
    transform: translate(-12% ,-50%);
  }
  42%{

    opacity: 0;
    transform: scale(0);
    transform: translate(-12% ,-50%);
  }
  48%{
    opacity: 0.3;
    transform: scale(2);
    transform: translate(-12% ,-50%);
  }
  49%{
    opacity: 0;
    transform: scale(0);
    transform: translate(-12% ,-50%);
  }
  56%{
    /* left: 90px; */
    /* bottom: -15px; */
    /* opacity: 1;
    transform: scale(6);
    transform: translate(-10% ,-50%); */
  }
  58%{
    opacity: 0;
    transform: scale(0);
    transform: translate(-12% ,-50%);
  }
  64%{
    /* left: 90px;
    bottom: 15px;
    opacity: 1; */
  }
  73%{
    opacity: 0.3;
    transform: scale(6);
    transform: translate(-12% ,-50%);
  }
  74%{
    opacity: 0;
    transform: scale(0);
    transform: translate(-12% ,-50%);
  }
  
  88%{
    /* left: 100px;
    bottom: 10px;
    opacity: 0; */
  }
92%{
    /* left: 30px;
    bottom: -15px;
    opacity: 0; */
  }
100%{
    /* left: 0px;
    bottom: -30px;
    opacity: 0; */
    opacity: 0;
    transform: scale(0);
    transform: translate(-10% ,-50%);
  }
  
  
}



@keyframes user-cursor {

  0%{
    left: 0;
    bottom: -30px;
    opacity: 0;
  }
  8%{
    left: 0px;
    bottom: -10px;
    opacity: 1;
  }
  16%{
    left: 15px;
    bottom: 15px;
    opacity: 1;
  }
  24%{
    left: 40px;
    bottom: -15px;
  }
  40%{
    left: 50px;
    opacity: 1;
    bottom: 15px;
  }
  56%{
    left: 90px;
    bottom: -15px;
  }
  64%{
    left: 90px;
    bottom: 15px;
    opacity: 1;
  }
  72%{
    left: 100px;
    bottom: -15px;
    opacity: 1;
  }
  88%{
    left: 100px;
    bottom: 10px;
    opacity: 0;
  }
92%{
    left: 30px;
    bottom: -15px;
    opacity: 0;
  }
100%{
    left: 0px;
    bottom: -30px;
    opacity: 0;
  }
  
}

@keyframes bnr-abs-text {

  0%{
    left: -15px;
  }
  16%{
    left: -15px;
  }
  24%{
    left: 30px;
  }
  40%{
    left: 30px;
  }
  48%{
    left: 60px;
    opacity: 1;
  }
  64%{
    left: 60px;
    opacity: 1;
  }
  72%{
    left: 90px;
  }
  80%{
    left: 90px;
  }
92%{
    left: -15px;
  }
100%{
    left: -15px;
  }

}

@keyframes add-user {

  0%{
    opacity: 0;
  }
  16%{
    opacity: 1;
  }
  92%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  } 
}

.gk-bubble-header{
  width: 62%;
  border:1px solid black;
  /* margin-bottom: 100px; */
}
.gk-bubble-header .section-brk-h1{
  font-size: 54px;
  padding:0 10%;
  font-weight: 400;
  line-height: 80px;
}
.gk-bubble-header p{
  text-align:center;
  font-size: 18px;
  margin: 20px 0 40px 0;
  line-height: 40px;
  box-sizing: border-box;
}

.catchup-set-title{
  font-size: 44px;
  font-weight: 400;
}
.gk-play-title{
  background-image: linear-gradient(80.68deg, #008bedcc -0.13%, #6755e7c4 14.6%, #7544bee6 25.41%, #b3008bde 38.18%, #ff0066d9 52.91%, #ff3900e8 67.64%, #ff4e00e0 81.4%, #ff6d00de 98.09%);;
  -webkit-background-clip:text;
  font-family: 'Poppins', sans-serif;
  -webkit-text-fill-color: transparent;
}

.gk-bubble{
  background: linear-gradient(white, white) padding-box, linear-gradient(43.58deg, #008AEF 24.4%, #6E55EA 32.07%, #8244C0 37.7%, #CF008D 44.34%, #FF0268 52.01%, #FF3A00 59.68%, #FF4E00 66.84%, #FF6D00 75.53%) border-box;
  border-radius: 50em;
  border: 1px solid transparent;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  position: relative;
}

.gk-bubble-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 60%;
  /* margin: 0px auto 0px;
  padding: 0 3rem 0rem; */
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.9s ease-in-out;
  /* border:1px solid black; */
}

.bubble-01 img
{
  width: 50px;
  height: 50px;
}

/* .{
  animation:  dancing 3s  infinite;
  transition: 0.4s;
} */

.bubble-01 ,.bubble-05,.bubble-06 ,.bubble-08{
  width: 100px;
  height: 100px;
  top: 20px;
  position: relative;
}

.bubble-03{
  position: relative;
  top: -30px ;
  animation: CenterDancing 8s infinite !important;
}

.bubble-01 ,.bubble-05,.bubble-06 ,.bubble-08{
animation: dancing 8s infinite !important;

}

.bubble-02 ,.bubble-04,.bubble-07 ,.bubble-09{
animation: sideDancing 8s infinite !important;

}



.active{
  content: 'jgjhj';
  /* background: linear-gradient(60deg, rgba(252,176,69,1) 0%, rgba(249,116,219,1) 30%, rgba(206,142,249,1) 60%, rgba(179,108,227,1) 86%); */
  background: linear-gradient(52deg, rgba(252,176,69,1) 0%, rgba(255,78,0,1) 11%, rgba(255,58,0,1) 18%, rgba(255,2,104,1) 12%, rgba(207,0,141,1) 59%, rgba(130,68,192,1) 75%, rgba(110,85,234,1) 84%, rgb(217, 226, 234) 100%);
  /* width: 120px;
  height: 120px; */
  transition-delay: 0.2s;
  z-index: 100000;
}

.bubble-container img{
width:50px;
height:50px;
}

.bubble-container{
  margin:5% 0;
}

.bubble-tooltip{
  position: absolute;
  bottom: -30px;
  font-size: 12px !important;
  background-color: #222;
  padding:2px 8px;
  border-radius: 4px;
  color:white;
  height: 33px !important;
  width: 100px !important;
}

@keyframes dancing {
  0%{
    /* top:30px; */
    transform: translateY(30px);
  }
  50%{
    /* top:40px; */
    transform: translateY(40px);
  }
  100%{
    transform: translateY(30px);
  }
}

@keyframes CenterDancing {

  0%{
/* top:-30px ; */
transform: translateY(-30px);
  }
  50%{
    /* top:-32px; */
    transform: translateY(-40px);
  }
  100%{
    /* top:-30px ; */
    transform: translateY(-30px);
  }
  
}

@keyframes sideDancing {

  0%{
    top:0px ;
      }
      50%{
        top:-5px;
      }
      100%{
        top:0px ;
      }
  
}
.gk-bubble{
  transform: scale(0.9);
}
span{
  
}


.trans{
  transform: scale(3) !important;
  transition: 0.6s;
  cursor: pointer;
}

